<div class="register-container">
  <div class="col-10 register-form">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-2">
          <h2 class="title">Mis turnos</h2>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Filtrar</mat-label>
            <input
              matInput
              type="text"
              name="filterText"
              (ngModelChange)="filter($event)"
              [(ngModel)]="filterText"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12">
        <table class="fl-table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Horario</th>
              <th>Especialidad</th>
              <th>
                {{
                  loggedUser.type === "paciente" ? "Especialista" : "Paciente"
                }}
              </th>
              <th>Estado</th>
              <th>Reseña</th>
              <th *ngIf="loggedUser.type!=='admin'">Acción</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let appointment of appointmentsService[
                  filterText.length > 0
                    ? 'filteredAppointments'
                    : 'appointments'
                ]
              "
            >
              <td>{{ appointment.description }}</td>
              <td>{{ appointment.startTime | dateFormat }}</td>
              <td>{{ appointment.speciality }}</td>
              <td>
                {{
                  loggedUser.type === "paciente"
                    ? appointment.specialistName
                    : appointment.patientName
                }}
              </td>
              <td>{{ appointment.status }}</td>
              <td>
                <button
                  *ngIf="appointment.review"
                  type="button"
                  class="btn btn-circle btn-info"
                  (click)="setStatus('', appointment.id)"
                >
                  Ver reseña
                </button>
              </td>
              <td>
                <div *ngIf="loggedUser.type === 'especialista'">
                  <div [ngSwitch]="appointment.status">
                    <button
                      *ngSwitchCase="'Pendiente'"
                      type="button"
                      class="btn btn-circle btn-success"
                      (click)="setStatus('Aceptar', appointment.id)"
                    >
                      Aceptar turno
                    </button>
                  </div>
                </div>
                <button
                    *ngIf="loggedUser.type==='admin' && appointment.status === 'Pendiente'"
                    type="button"
                    class="btn btn-circle"
                    [ngClass]="appointment.status | buttonColor"
                    (click)="setStatus(appointment, appointment.id)"
                  >
                    Cancelar turno
                  </button>
              </td>
              <td>
                <div *ngIf="loggedUser.type === 'especialista'; else secondElse">
                  <div [ngSwitch]="appointment.status">
                    <button
                      *ngSwitchCase="'Pendiente'"
                    type="button"
                    class="btn btn-circle"
                    [ngClass]="appointment.status | buttonColor"
                    (click)="setStatus(appointment, appointment.id)"
                  >
                    Cancelar turno
                  </button>
                    <button
                      *ngSwitchCase="'Aceptado'"
                      type="button"
                      class="btn btn-circle"
                      [ngClass]="appointment.status | buttonColor"
                      (click)="openMedicalRecord(appointment)"
                    >
                      Finalizar turno
                    </button>
                  </div>
                </div>
                <ng-template  #secondElse>
                  <!-- <button
                        *ngIf="loggedUser.type==='paciente' && appointment.status==='Pendiente'"
                        type="button"
                        class="btn btn-circle"
                        [ngClass]="appointment.status | buttonColor"
                        (click)="setStatus(appointment, appointment.id)"
                      >
                        Cancelar turno
                      </button> -->
                    <div *ngIf="loggedUser.type==='paciente'" [ngSwitch]="appointment.status">
                      <button
                        *ngSwitchCase="'Pendiente'"
                        type="button"
                        class="btn btn-circle"
                        [ngClass]="appointment.status | buttonColor"
                        (click)="setStatus(appointment, appointment.id)"
                      >
                        Cancelar turno
                      </button>
                      <button
                      *ngSwitchCase="'Atendido'"
                      type="button"
                      class="btn btn-circle btn-success"
                      (click)="setStatus('Calificar', appointment.id)"
                      >
                      Calificar atención
                    </button>
                    <button
                      *ngSwitchCase="'Terminado'"
                      type="button"
                      class="btn btn-circle"
                      [ngClass]="appointment.status | buttonColor"
                      (click)="setStatus(appointment, appointment.id)"
                    >
                      Completar encuesta                      
                    </button>
                  </div>
                </ng-template>
              </td>
              <!-- <td>
                <button
                  *ngIf="
                    (loggedUser.type === 'especialista' &&
                      appointment.status === 'Pendiente') ||
                    (loggedUser.type === 'paciente' &&
                      appointment.status === 'Terminado')
                  "
                  (click)="setStatus(loggedUser.type === 'especialista' ? 'Aceptar' : 'Atendido', appointment.id)"
                  type="button"
                  class="btn btn-circle btn-success"
                >
                  {{loggedUser.type === 'especialista' ? 'Aceptar turno' : 'Calificar atención'}}
                </button>
              </td>
              <td>
                <button
                  *ngIf="
                    !(
                      loggedUser.type === 'paciente' &&
                      appointment.status === 'Aceptado'
                    )
                  "
                  (click)="setStatus(appointment.status, appointment.id)"
                  type="button"
                  class="btn btn-circle"
                  [ngClass]="appointment.status | buttonColor"
                >
                  {{ appointment.status | buttonText }}
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
