<form [formGroup]="signUpForm" style="margin-top:20px;" (ngSubmit)="handleRegister()">
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" name="name" formControlName="name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" name="lastName" formControlName="lastName">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput type="number" name="age" formControlName="age">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>DNI</mat-label>
            <input matInput type="number" name="dni" formControlName="dni">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Obra social</mat-label>
            <input matInput type="text" name="socialWork" formControlName="socialWork">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="text" name="email" formControlName="email">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" name="password" formControlName="password">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput type="password" name="repeatPassword" formControlName="repeatPassword">
        </mat-form-field>
    </div>
    <button type="submit">Crear cuenta</button>
</form >