<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row class="justify-content-between">
      <span>{{userType}}</span>
      <span class="example-spacer"></span>
      <div class="d-flex flex-direction-column">
        <button routerLink="/home/register-admin" mat-button>
          Alta
        </button>
        <button routerLink="/home/list-users" mat-button>
          Usuarios
        </button>
        <button mat-button (click)="signOut()">
          Cerrar sesión
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>