<div class="welcome-page">
    <div class="welcome-container row">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="col-8">
                <h1><span>¡Hola!,</span> bienvenido a la clínica MediPlus</h1>
                <h4>Para poder acceder a nuestro sistema y hacer uso de nuestro servicios necesitamos que inicies sesión</h4>
                <button (click)="goToLogin()" class="button">Ingresar al sistema</button>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img style="width:100%;" src="../../../assets/landing-doctor.png" />
        </div>
    </div>
</div>