<div class="main" [ngStyle]="{'height':!checkbox?'500px':!signUpType?'500px':'750px','width':!checkbox?'450px':'850px'}">  	
    <input type="checkbox" id="chk" [(ngModel)]="checkbox" aria-hidden="true">
        <div class="signup">
            <div class="row">
                <form class="col-9" [formGroup]="signIn">
                    <label for="chk" aria-hidden="true">Iniciar Sesión</label>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput place type="text" name="email" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field >
                            <mat-label>Contraseña</mat-label>
                            <input matInput color="white" type="password" name="password" formControlName="password">
                        </mat-form-field>
                    </div>
                    <button class="button" type="submit" (click)="handleSignIn()">Ingresar</button>
                </form>
                <div *ngIf="!checkbox" class="col-3 fastSignIn-container">
                    <button class="fastSignIn" (click)="handleFastSignIn('paciente1')">
                        <img style="height:100%; width: 100%;" src="../../../assets/paciente1.jpg" />
                    </button>
                    <button class="fastSignIn" (click)="handleFastSignIn('paciente2')">
                        <img style="height:100%; width: 100%;" src="../../../assets/paciente2.jpg" />
                    </button>
                    <button class="fastSignIn" (click)="handleFastSignIn('paciente3')">
                        <img style="height:100%; width: 100%;" src="../../../assets/paciente3.jpg" />
                    </button>
                    <button class="fastSignIn" (click)="handleFastSignIn('especialista1')">
                        <img style="height:100%; width: 100%;" src="../../../assets/especialista1.jpg" />
                    </button>
                    <button class="fastSignIn" (click)="handleFastSignIn('especialista2')">
                        <img style="height:100%; width: 100%;" src="../../../assets/especialista2.jpg" />
                    </button>
                    <button class="fastSignIn" (click)="handleFastSignIn('admin')">
                        <img style="height:100%; width: 100%;" src="../../../assets/admin.jpg" />
                    </button>
                </div>
            </div>
        </div>

        <div class="login">
            <label for="chk" aria-hidden="true" class="register-label">Registrarse</label>
            <div class="row justify-content-between" *ngIf="!signUpType; else elseBlock">
                <div class="col-5 d-flex flex-column align-items-center" (click)="pressImage('paciente')">
                    <h3>Paciente</h3>
                    <div class="img">
                        <img src="../../../assets/patient.png" style="max-width:100%; max-height: 100%;" />
                    </div>
                </div>
                <div class="col-5 d-flex flex-column align-items-center" (click)="pressImage('especialista')">
                    <h3>Especialista</h3>
                    <div class="img">
                        <img src="../../../assets/doctor.png" style="max-width:100%; max-height: 100%;" />
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <app-register-patient *ngIf="signUpType==='paciente'" [signedUp]="signedUp" (goBack)="handleGoBack()" (newPatient)="handleSignUp($event)"></app-register-patient>
                <app-register-specialist *ngIf="signUpType==='especialista'" [signedUp]="signedUp" (goBack)="handleGoBack()" (newSpecialist)="handleSignUp($event)"></app-register-specialist>
            </ng-template>
        </div>
</div>